@font-face {
	src: url(fonts/Helvetica.ttf);
	font-family: Helvetica; 
	font-weight: normal; 
}

body {
	margin: 0;
}

.about {
	padding-top: 5px;
}

.about a,
.title a 
{
	color: black;
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 130px; 
	margin: 0 300px;
	z-index: 0;
}

.container .start {
	margin: 50px auto;
}

h3 {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 120%;
}

p {
	font-family: Helvetica;
	font-size: 100%;
}

.header {
	background-color: white;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	position: sticky;
	z-index: 100;
	top: 0;
}

.header .title {
	text-align: left; 
	padding-left: 20px;
}

.header .about {
	text-align: right; 
	position: sticky; 
	padding-right: 20px;
}

.grid-2 {
	margin: 10px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
}	

.grid-item {
	width: 100%;
}

.grid-item img {
	object-fit: cover;

	height: 100%;
	width: 100%;
}

.name_grid {
	display: flex;
	min-width: 450px;
	margin: auto;
}

.name_grid > div {
	display: flex;
	flex-direction: column;
	width: 33%;
}

.name_grid > div > a {
	color: black;
	font-family: Helvetica, Arial, sans-serif;
}

.landing {
	position: relative;
}

.landing #landing_overlay {
	position: absolute;
	left: 20px;
	top: 20px;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 48px;
	font-weight: 600;
	z-index: 50;

	align-items: center;
	display: flex;
	justify-content: center;
}

#landing_overlay svg {
	height: 50px;
	margin-right: 20px;
}

.landing img {
	height: 500px;
	object-fit: cover;
	width: 100%;
	z-index: 1;
}

#ry_nankivel path {
	fill: white;
}